@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f1d3d2;
}

.logo {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.selected-true,
.selected-true:hover {
  --tw-bg-opacity: 1;
  background-color: green;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  --tw-border-opacity: 1;
  border-color: rgb(227 171 172 / var(--tw-border-opacity));
  --tw-translate-x: 2.5rem /* 40px */;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  font-weight: 600;
}

.selected-false {
  --tw-bg-opacity: 1;
  background-color: red;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  --tw-border-opacity: 1;
  border-color: rgb(227 171 172 / var(--tw-border-opacity));
  --tw-translate-x: 2.5rem /* 40px */;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  font-weight: 600;
}
